src/flows/Assign_Category_Entitlement_Policy_And_Price_Book_To_Product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Category_Id_And_Product_Id_To_Product_Category</name>
        <label>Assign Category Id And Product Id To Product Category</label>
        <locationX>1105</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>NewProductCategory.ProductCategoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Category.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductCategory.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Category_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Price_Book_to_Price_Book_Entry</name>
        <label>Assign Custom Price Book to Price Book Entry</label>
        <locationX>322</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>CustomPriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomPriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomPriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomPriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Price_Book_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entitlement_Policy_Id_and_Product_Id_to_Entitlement_Product</name>
        <label>Assign Entitlement Policy Id and Product Id to Entitlement Product</label>
        <locationX>637</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>NewEntitlementProduct.PolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement_Policy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEntitlementProduct.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Entitlement_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_Price_Book_To_Product</name>
        <label>Assign Standard Price Book To Product</label>
        <locationX>799</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>StandardPriceBook.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardPriceBook.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardPriceBook.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardPriceBook.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entry_For_Standard_Price_Book</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Assign Category Entitlement Policy And Price Book To Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Category Entitlement Policy And Price Book To Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Custom_Price_Book_Entry</name>
        <label>Create Custom Price Book Entry</label>
        <locationX>139</locationX>
        <locationY>309</locationY>
        <inputReference>CustomPriceBookEntry</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Entitlement_Product</name>
        <label>Create Entitlement Product</label>
        <locationX>796</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Get_Category</targetReference>
        </connector>
        <inputReference>NewEntitlementProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book_Entry_For_Standard_Price_Book</name>
        <label>Create Price Book Entry For Standard Price Book</label>
        <locationX>644</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Get_Custom_Price_Book</targetReference>
        </connector>
        <inputReference>StandardPriceBook</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Category_Product</name>
        <label>Create Product Category Product</label>
        <locationX>1106</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <inputReference>NewProductCategory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Category</name>
        <label>Get Category</label>
        <locationX>950</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Category_Id_And_Product_Id_To_Product_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Price_Book</name>
        <label>Get Custom Price Book</label>
        <locationX>479</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Custom_Price_Book_to_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seattle Store Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Policy</name>
        <label>Get Entitlement Policy</label>
        <locationX>480</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Entitlement_Policy_Id_and_Product_Id_to_Entitlement_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seattle Store Entitlement Policy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CommerceEntitlementPolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>954</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Standard_Price_Book_To_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>33</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Get_Entitlement_Policy</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CustomPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>NewEntitlementProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommerceEntitlementProduct</objectType>
    </variables>
    <variables>
        <name>NewProductCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategoryProduct</objectType>
    </variables>
    <variables>
        <name>StandardPriceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
