src/flows/Authvia_Payments_Update_HPP_link_to_Sales_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email to the Seattle AV owner of the Sales Order</description>
        <name>Email_SO_Owner_notice_of_Payment</name>
        <label>Email SO Owner notice of Payment</label>
        <locationX>265</locationX>
        <locationY>1308</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Sales Order Link: {!LinktoSalesOrder}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>m.altork@seattleav.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A payment for Sales Order {!$Record.BillNPay__Description__c} was just received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>874</locationX>
        <locationY>818</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark@authvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow &quot;Authvia: Payments Update&quot; failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send an email notifying the customer that their payment was declined</description>
        <name>Send_Decline_Email</name>
        <label>Send Decline Email</label>
        <locationX>863</locationX>
        <locationY>186</locationY>
        <actionName>BillNPay__Payments__c.BillNPay__Send_Payment_Declined</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Receipt_to_Customer</name>
        <label>Send Payment Receipt to Customer</label>
        <locationX>265</locationX>
        <locationY>1153</locationY>
        <actionName>BillNPay__Payments__c.BillNPay__Send_Payment_Receipt</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_SO_Owner_notice_of_Payment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Request_Email</name>
        <label>Send Payment Request Email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>BillNPay__Payments__c.BillNPay__Send_Payment_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>This is a temporary fix.</description>
        <name>Add_Paid_Date_if_missing</name>
        <label>Add Paid Date if missing</label>
        <locationX>262</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Update_Paid_in_Full_in_Sales_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Date_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillNPay__Date_Paid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Date_Paid</targetReference>
            </connector>
            <label>Paid Date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Status</name>
        <label>Payment Status</label>
        <locationX>264</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Sen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Request_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Request Sent</label>
        </rules>
        <rules>
            <name>Approved_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved/Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Paid_Date_if_missing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved/Paid</label>
        </rules>
        <rules>
            <name>Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Decline_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Decline</label>
        </rules>
        <rules>
            <name>Chargeback_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillNPay__Chargeback_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback_Reset_Status_to_Approved_Paid</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Chargeback Won</label>
        </rules>
    </decisions>
    <description>This flow replaces Process Builder &quot;Payment Processes&quot; which should remain inactive

the HPP link is returned to SF several seconds after the payment record is set to In Process</description>
    <formulas>
        <name>LinktoSalesOrder</name>
        <dataType>String</dataType>
        <expression>&quot;https://prod-avs-seattle.lightning.force.com/lightning/r/inscor__Sales_Order__c/&quot; &amp; {!$Record.Sales_Order__c} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Authvia: Payments - Update HPP link to Sales Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authvia: Payments Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cash_Receipt</name>
        <label>Cash Receipt</label>
        <locationX>268</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>Add_CR_to_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AcctSeed__Account__c</field>
            <value>
                <elementReference>$Record.BillNPay__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Amount__c</field>
            <value>
                <elementReference>$Record.BillNPay__Total_Amount_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Payment_Reference__c</field>
            <value>
                <elementReference>$Record.Sales_Order__r.inscor__Customer_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Purpose__c</field>
            <value>
                <stringValue>Customer Prepayment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Receipt_Date__c</field>
            <value>
                <elementReference>$Record.BillNPay__Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Status__c</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Cash_Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Add_CR_to_Payment</name>
        <label>Add Cash Receipt to Payment</label>
        <locationX>270</locationX>
        <locationY>989</locationY>
        <connector>
            <targetReference>Send_Payment_Receipt_to_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cash_Receipt__c</field>
            <value>
                <elementReference>Cash_Receipt</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Date_Paid</name>
        <label>Add Date Paid</label>
        <locationX>31</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Update_Paid_in_Full_in_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Date_Paid__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Chargeback_Reset_Status_to_Approved_Paid</name>
        <label>Chargeback Reset Status to Approved/Paid</label>
        <locationX>874</locationX>
        <locationY>561</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Return_Chargeback_Response__c</field>
            <value>
                <stringValue>Chargeback marked as Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Status__c</field>
            <value>
                <stringValue>Approved/Paid</stringValue>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Paid_in_Full_in_Sales_Order</name>
        <label>Update Paid in Full in Sales Order</label>
        <locationX>264</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Cash_Receipt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_in_Full__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inscor__Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>148</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Payment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BillNPay__Payments__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollectionVar_SalesOrderLine</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
