src/flows/Authvia_Create_Payment_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Store_Original_Email</name>
        <label>Store Original Email</label>
        <locationX>13</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>Var_OriginalEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_Contact_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Contacts must be activated with a AV User ID in order to process payments</description>
        <name>Is_Contact_Activated</name>
        <label>Is Contact Activated</label>
        <locationX>178</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Contact_Not_Active_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.BillNPay__authViaAccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Original_Email</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_Description</name>
        <dataType>String</dataType>
        <expression>{!Sales_Order.Name} &amp; &quot; - PO#: &quot; &amp; {!Sales_Order.inscor__Customer_PO_Number__c}</expression>
    </formulas>
    <formulas>
        <description>modifies the email to trigger update at Authvia.  It will be reset to the original in the next step</description>
        <name>ModifiedEmail</name>
        <dataType>String</dataType>
        <expression>&quot;9&quot;&amp;{!Var_OriginalEmail}</expression>
    </formulas>
    <interviewLabel>Authvia Create Payment Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authvia Create Payment Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment</label>
        <locationX>181</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>BillNPay__Account__c</field>
            <value>
                <elementReference>Sales_Order.inscor__Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Contact__c</field>
            <value>
                <elementReference>Sales_Order.inscor__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Description__c</field>
            <value>
                <elementReference>Formula_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Email__c</field>
            <value>
                <elementReference>Sales_Order.inscor__Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Status__c</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Transaction_Amount__c</field>
            <value>
                <elementReference>Sales_Order.inscor__Sales_Order_Total_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>Sales_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>183</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Activated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Order.inscor__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sales_Order</name>
        <label>Sales Order</label>
        <locationX>180</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>By changing the email (adding a 9 in front of it) we trigger an update to Authvia customer.  It will be reset downstream.  This enables the HPP to display the customers actual email which is not populated with Shell users</description>
        <name>Modify_Contact_Email</name>
        <label>Modify Contact Email</label>
        <locationX>10</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ModifiedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Contact_Email</name>
        <label>Reset Contact Email</label>
        <locationX>178</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Var_OriginalEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Not_Active_Screen</name>
        <label>Contact_Not_Active_Screen</label>
        <locationX>498</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_ContactNotActive</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Warning&lt;/b&gt;, the Contact is not Active or the AV User ID is missing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Contact&apos;s AV Status = {!Sales_Order.inscor__Contact__r.BillNPay__Status__c}.  Please contact your administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>179</locationX>
        <locationY>772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Contact_Email</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Instructions</name>
            <fieldText>&lt;p&gt;Confirm the payment amount and click &lt;b&gt;Next&lt;/b&gt; to send payment request to customer.  Cancel to make a correction&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalAmounttoPay</name>
            <fieldText>&lt;p&gt;Sales Order Total Value &lt;b&gt;{!Sales_Order.inscor__Sales_Order_Total_Value__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Contact</name>
            <fieldText>&lt;p&gt;Billing Contact:&lt;b&gt; &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Contact.FirstName} {!Get_Contact.LastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_ContactEmail</name>
            <fieldText>&lt;p&gt;Billing Email:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Get_Contact.Email}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>180</locationX>
        <locationY>1207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;The payment request has been sent&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Flag</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>finish_flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Sales_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OriginalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
