src/flows/BillNPay__Virtual_Terminal_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Payment_Nickname</name>
        <label>Assign New Payment Nickname</label>
        <locationX>1875</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>Var_Payment_Method_Nickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Var_Payment_Method.BillNPay__Nickname__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Types_for_Payment_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Variables</name>
        <label>Assign Payment Variables</label>
        <locationX>1915</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>paymentAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_BP_Status_Email_Mobile.BillNPay__Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentIns</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentDesc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_PaymentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_BP_Status_Email_Mobile.BillNPay__T2P_email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Active_Payment_Methods_Exist_PayNow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Create_Payment</name>
        <choiceText>Create a Payment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_Create_Schedule</name>
        <choiceText>Create a Payment Schedule (Recurring or One-Time in the future)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Create_Payment_with_New_Method</name>
        <choiceText>Create a new Payment Method</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Create_Payment_with_New_Method2</name>
        <choiceText>Create a new method</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CreatePaymentWithNewMethod</name>
        <choiceText>Create Payment with new Payment Method</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <constants>
        <description>for centering image</description>
        <name>Center</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;Center&apos;</stringValue>
        </value>
    </constants>
    <constants>
        <description>The SObject name is used to get the Record Type IDs which are used later in the flow</description>
        <name>Const_Payment_Schedule_Sobject_name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BillNPay__Scheduled_Payments__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Record_Type_Name_OneTime</name>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Record_Type_Name_Recurring</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring</stringValue>
        </value>
    </constants>
    <constants>
        <name>Default_Schedule_Description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Payment</stringValue>
        </value>
    </constants>
    <constants>
        <description>Used in screen design</description>
        <name>Display_Horizontal_Line</name>
        <dataType>String</dataType>
        <value>
            <stringValue>____________________________________________________________</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Type_of_Schedule</name>
        <label>Type of Schedule</label>
        <locationX>2214</locationX>
        <locationY>1617</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Outcome_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Set_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_Record_Type_Name_Recurring</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Schedule</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
        <rules>
            <name>Decision_Outcome_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Set_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_Record_Type_Name_OneTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_One_Time</targetReference>
            </connector>
            <label>One Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_What_do_you_want_to_do</name>
        <label>Decision What do you want to do</label>
        <locationX>1014</locationX>
        <locationY>1206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Payment_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Create_Payment</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pay_Now_Details</targetReference>
            </connector>
            <label>Create Payment Now</label>
        </rules>
        <rules>
            <name>Create_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Create_Schedule</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Active_Payment_Methods_Exist_Recurring</targetReference>
            </connector>
            <label>Create Payment Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Active_Payment_Methods_Exist_PayNow</name>
        <label>Do Active Payment Methods Exist?</label>
        <locationX>2060</locationX>
        <locationY>970</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active_Payment_Methods_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_Payment_Methods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Payment_Method_PayNow</targetReference>
            </connector>
            <label>Active Payment Methods Exist</label>
        </rules>
        <rules>
            <name>Active_Payment_Method_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_Payment_Methods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Method_for_Pay_Now</targetReference>
            </connector>
            <label>Active Payment Method Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Active_Payment_Methods_Exist_Recurring</name>
        <label>Do Active Payment Methods Exist?</label>
        <locationX>1404</locationX>
        <locationY>1483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Methods_Dont_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_Payment_Methods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Method_for_Schedule</targetReference>
            </connector>
            <label>Active Methods Don&apos;t Exist</label>
        </rules>
        <rules>
            <name>Active_Methods_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_Payment_Methods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Payment_Method_Recurring</targetReference>
            </connector>
            <label>Active Methods Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Accounts must be Activated for Payments to proceed</description>
        <name>Is_Account_Activated_For_Payments</name>
        <label>Is_Account_Activated_For_Payments</label>
        <locationX>814</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Screen_Not_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Activated</defaultConnectorLabel>
        <rules>
            <name>Activated_for_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_would_you_like_to_do</targetReference>
            </connector>
            <label>Activated for Payments</label>
        </rules>
        <rules>
            <name>Suspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Account_Suspended</targetReference>
            </connector>
            <label>Suspended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Existing_or_New_Method_PayNow</name>
        <label>Use Existing or New Method Screen</label>
        <locationX>2333</locationX>
        <locationY>1122</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Payment_with_New_Method2</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Method_for_Pay_Now</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Use_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Payment_with_New_Method2</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_A_Payment</targetReference>
            </connector>
            <label>Use Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Existing_or_New_Method_Screen_Recurring</name>
        <label>Use Existing or New Method Screen</label>
        <locationX>1713</locationX>
        <locationY>1618</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Payment_with_New_Method2</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Method_for_Schedule</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Use_Existing_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Payment_with_New_Method2</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Types_for_Payment_Schedule</targetReference>
            </connector>
            <label>Use Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Account_is_Activated_for_Payments</name>
        <label>Validate Account is Activated for Payments</label>
        <locationX>1729</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Account_Not_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Activated</defaultConnectorLabel>
        <rules>
            <name>Actived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_BP_Status_Email_Mobile.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Variables</targetReference>
            </connector>
            <label>Actived</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Presents a selection of all existing payment method</description>
        <name>Choice_Set_Payment_Method</name>
        <dataType>String</dataType>
        <displayField>BillNPay__Nickname__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillNPay__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillNPay__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BillNPay__Payment_Methods__c</object>
        <outputAssignments>
            <assignToReference>Var_Payment_Method_Nickname</assignToReference>
            <field>BillNPay__Nickname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Payment_Method_External_ID</assignToReference>
            <field>BillNPay__T2P_PaymentMethod_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Var_Payment_Method.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>BillNPay__Nickname__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>BillNPay__Nickname__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Set_Record_Type</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Const_Payment_Schedule_Sobject_name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Var_Schedule_Record_Type_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetRecurringFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Payment_Frequency__c</picklistField>
        <picklistObject>BillNPay__Scheduled_Payments__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Select Automatic or Semi-automatic (payer send text or email to confirm the payment)</description>
        <name>Var_Choice_Set_Scheduled_Payment_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Scheduled_Payment_Type__c</picklistField>
        <picklistObject>BillNPay__Scheduled_Payments__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Modify this formula to enter a default description into the Payment</description>
        <name>DefaultPaymentDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Default Description - modify Flow formula as needed&quot;</expression>
    </formulas>
    <formulas>
        <description>Timestamp is used to create unique identifier.  System required</description>
        <name>PayableID</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <description>Used for default in payment</description>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Virtual Terminal Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Virtual Terminal Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Schedule_One_Time</name>
        <label>Create One Time Schedule</label>
        <locationX>2612</locationX>
        <locationY>1493</locationY>
        <assignRecordIdToReference>Record_Var_New_Schedule.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Finish_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillNPay__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Description__c</field>
            <value>
                <elementReference>OneTime_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Due_Days__c</field>
            <value>
                <elementReference>OneTime_Number_of_days_until_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Next_Transaction_Date__c</field>
            <value>
                <elementReference>OneTimeScheduleDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Payment_Method__c</field>
            <value>
                <elementReference>Record_Var_Payment_Method.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Scheduled_Payment_Type__c</field>
            <value>
                <elementReference>Scheduled_Payment_Type_OneTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Transaction_Amount__c</field>
            <value>
                <elementReference>One_Time_Payment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_Schedule_Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Scheduled_Payments__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Recurring</name>
        <label>Create Recurring Schedule</label>
        <locationX>2618</locationX>
        <locationY>1713</locationY>
        <assignRecordIdToReference>Record_Var_New_Schedule.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Finish_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillNPay__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Description__c</field>
            <value>
                <elementReference>Recurring_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Different_Initial_Amount__c</field>
            <value>
                <elementReference>Initial_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Due_Days__c</field>
            <value>
                <elementReference>Recurring_Number_of_days_until_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Next_Transaction_Date__c</field>
            <value>
                <elementReference>Recurring_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__No_of_Payments_to_Make__c</field>
            <value>
                <elementReference>Number_of_Payments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Payment_Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Payment_Method__c</field>
            <value>
                <elementReference>Record_Var_Payment_Method.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Recurring_End_Date__c</field>
            <value>
                <elementReference>Recurring_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Recurring_Start_Date__c</field>
            <value>
                <elementReference>Recurring_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Scheduled_Payment_Type__c</field>
            <value>
                <elementReference>Scheduled_Payment_Type_Recurring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Transaction_Amount__c</field>
            <value>
                <elementReference>Transaction_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_Schedule_Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Scheduled_Payments__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get data from the current Account record</description>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>430</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Methods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the most recent active payment method</description>
        <name>Get_Current_Payment_Method</name>
        <label>Get Current Payment Method</label>
        <locationX>2470</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_A_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillNPay__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillNPay__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BillNPay__Payment_Methods__c</object>
        <outputAssignments>
            <assignToReference>Var_Payment_Method_Nickname</assignToReference>
            <field>BillNPay__Nickname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Payment_Method_External_ID</assignToReference>
            <field>BillNPay__T2P_PaymentMethod_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>can this be passed from the Lightning Component?</description>
        <name>Get_New_Payment_Method_Record</name>
        <label>Get New Payment Method Record</label>
        <locationX>1873</locationX>
        <locationY>1326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Payment_Nickname</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillNPay__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillNPay__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BillNPay__Payment_Methods__c</object>
        <outputReference>Record_Var_Payment_Method</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillNPay__Nickname__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get existing Active payment methods for this Account</description>
        <name>Get_Payment_Methods</name>
        <label>Get Payment Methods</label>
        <locationX>587</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Activated_For_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillNPay__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillNPay__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BillNPay__Payment_Methods__c</object>
        <outputReference>Collection_Payment_Methods</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillNPay__Account__c</queriedFields>
        <queriedFields>BillNPay__Nickname__c</queriedFields>
        <queriedFields>BillNPay__Active__c</queriedFields>
        <queriedFields>BillNPay__Exp_Month__c</queriedFields>
        <queriedFields>BillNPay__Exp_Year__c</queriedFields>
        <queriedFields>BillNPay__Name_on_Account__c</queriedFields>
        <sortField>BillNPay__Active__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the record type ID and assign to variables</description>
        <name>Get_Record_Types_for_Payment_Schedule</name>
        <label>Get Record Types for Payment Schedule</label>
        <locationX>1875</locationX>
        <locationY>1613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Type_of_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Const_Payment_Schedule_Sobject_name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Collection_Record_Types_Scheduled_Payment_Object</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get updated Status, Email, Mobile that may have been updated during activation</description>
        <name>Get_Updated_BP_Status_Email_Mobile</name>
        <label>Get Updated BP Status Email &amp; Mobile</label>
        <locationX>1562</locationX>
        <locationY>975</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Account_is_Activated_for_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates email and mobile and changes Account BP Status to Batch Processing (queued for activation)</description>
        <name>Update_Account_BP_Status_Mobile_and_Email</name>
        <label>Update Account BP Status Mobile and Email</label>
        <locationX>1134</locationX>
        <locationY>656</locationY>
        <connector>
            <targetReference>Activate_AccountsLC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Status__c</field>
            <value>
                <stringValue>Batch Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__T2P_email__c</field>
            <value>
                <elementReference>Var_Updated_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Var_Updated_Mobile_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Error handling in case Account did not get activated</description>
        <name>Account_Not_Activated</name>
        <label>Account Not Activated</label>
        <locationX>1724</locationX>
        <locationY>479</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Not_Activated</targetReference>
        </connector>
        <fields>
            <name>Text_Account_Still_Not_Activated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(250, 143, 2);&quot;&gt;Hold on!&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;For some reason this account didn&apos;t get activated.  Click &apos;Next&apos; to verify the phone number is a valid mobile number.  If you are still having trouble,  contact your system administrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_AccountsLC</name>
        <label>Activate Accounts</label>
        <locationX>1134</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_would_you_like_to_do</targetReference>
        </connector>
        <fields>
            <name>Text_Activate_Accounts</name>
            <fieldText>&lt;p&gt;Click &apos;Activate&apos; to start processing.  Then &apos;Next&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activate_Accounts</name>
            <extensionName>BillNPay:CreateAccountToAuthviaComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Payment_Method_for_Pay_Now</name>
        <label>Create Payment Method for Pay Now</label>
        <locationX>2342</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Payment_Method</targetReference>
        </connector>
        <fields>
            <name>Text_Add_Payment_Method</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(54, 0, 253);&quot;&gt;Instructions:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     1) Enter Method&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     2) Submit&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     3) Wait for response from Gateway&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     4) Next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentMethodComponent</name>
            <extensionName>BillNPay:PaymentMethodComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Payment_Method_for_Schedule</name>
        <label>Create Payment Method for Schedule</label>
        <locationX>1720</locationX>
        <locationY>1323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_New_Payment_Method_Record</targetReference>
        </connector>
        <fields>
            <name>Text_Add_Payment_Method2</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(54, 0, 253);&quot;&gt;Instructions:&lt;/u&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     1) Enter Method&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     2) Submit&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     3) Wait for response from Gateway&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(54, 0, 253);&quot;&gt;     4) Next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Method_Schedule</name>
            <extensionName>BillNPay:PaymentMethodComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display if error returned</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3291</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Error_Message</name>
            <fieldText>&lt;p&gt;Sorry, something went wrong.  Try again, or contact your administrator&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Error Message: &lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Pay_With_New_Method</name>
        <label>Finish Payment with New Method</label>
        <locationX>2862</locationX>
        <locationY>942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Finish_Pay_With_New_Method</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;Your transaction is finished!&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&amp;nbsp;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_Finish_Line_Flag</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <elementReference>Center</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Schedule</name>
        <label>Finish_Schedule</label>
        <locationX>2781</locationX>
        <locationY>1608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Finish_Schdule</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;Your Payment Schedule has been created. Payments will be generated automatically based on this schedule.&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&amp;nbsp;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_Finish_Line_Flag3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <elementReference>Center</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Make_A_Payment</name>
        <label>Make A Payment</label>
        <locationX>2672</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish_Pay_With_New_Method</targetReference>
        </connector>
        <fields>
            <name>Text_PaymentCompQuickAction_Tip</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;Click Send, wait for &lt;/i&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(13, 153, 1);&quot;&gt;&lt;i&gt;Result Message&lt;/i&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;, then Next&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payments</name>
            <extensionName>BillNPay:PaymentCompQuickAction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentMethodId</name>
                <value>
                    <elementReference>Var_Payment_Method_Nickname</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentDesc</name>
                <value>
                    <elementReference>paymentDesc</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentDueDate</name>
                <value>
                    <elementReference>paymentDueDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentIns</name>
                <value>
                    <elementReference>paymentIns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentPhone</name>
                <value>
                    <elementReference>paymentPhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentTransAmount</name>
                <value>
                    <elementReference>paymentTransAmount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentEmailId</name>
                <value>
                    <elementReference>Var_PaymentEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentAccId</name>
                <value>
                    <elementReference>paymentAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_Now_Details</name>
        <label>Pay Now Details</label>
        <locationX>1402</locationX>
        <locationY>976</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Updated_BP_Status_Email_Mobile</targetReference>
        </connector>
        <fields>
            <name>Text_Pay_Now</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 255); font-family: Arial;&quot;&gt;Enter the amount to pay, due date, and description:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Record_Var_Payment_Object.BillNPay__Transaction_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Todays_Date</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultPaymentDescription</elementReference>
            </defaultValue>
            <fieldText>Payment Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recurring_Schedule</name>
        <label>Recurring Schedule</label>
        <locationX>2471</locationX>
        <locationY>1713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Schedule_Recurring</targetReference>
        </connector>
        <fields>
            <name>Text_Recuring_Schedule_Header</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;To set up a recurring payment, complete the form:&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recurring_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Default_Schedule_Description</elementReference>
            </defaultValue>
            <fieldText>Recurring Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frequency</name>
            <choiceReferences>ChoiceSetRecurringFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Initial_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Initial Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>If you want the first payment to be a different amount, enter here otherwise leave blank.  Use this for pro-rated first payments or for additional setup fees</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Transaction_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Scheduled Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Scheduled_Payment_Type_Recurring</name>
            <choiceReferences>Var_Choice_Set_Scheduled_Payment_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Schedule Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Automatic will apply payment to card or bank without notifying payer.  Semi-Automatic will send text and/or email requested to pay allowing the payer to first verify that sufficient funds are available.   &lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Recurring_Number_of_days_until_Due_Date</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText># of days until Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Use to set a Due Date for the payment a number of days after the send date&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Text_Horiz_Line1</name>
            <fieldText>{!Display_Horizontal_Line}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Dates</name>
            <fieldText>&lt;p&gt;Enter a Start Date:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recurring_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Recurring Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_Horiz_Line3</name>
            <fieldText>&lt;p&gt;{!Display_Horizontal_Line}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_RecurringScreen_or</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter End Date &lt;b&gt;&lt;u&gt;or&lt;/u&gt; &lt;/b&gt;fixed number of payments:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recurring_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Recurring End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Payments</name>
            <dataType>Number</dataType>
            <fieldText>Deactivate after this number of payments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 8, 8); font-size: 14px;&quot;&gt;Enter only End Date or Fixed Number of Payments, not both&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Recurring_End_Date})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Text_Horiz_line2</name>
            <fieldText>{!Display_Horizontal_Line}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Method_to_be_used</name>
            <fieldText>&lt;p&gt;Schedule will be created using Payment Method:&lt;/p&gt;
&lt;p&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;&lt;strong&gt;{!Var_Payment_Method_Nickname}&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the Account has been suspended from making payments, this screen is displayed to user</description>
        <name>Screen_Account_Suspended</name>
        <label>Warning - Account Suspended</label>
        <locationX>830</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Account_Suspended</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 6, 6);&quot;&gt;This Account has been Suspended from making payments.  Please contact an administrator for assistance&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the Account is not Active or Suspended, this screen is displayed to user</description>
        <name>Screen_Not_Activated</name>
        <label>Screen_Not Activated</label>
        <locationX>1138</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_BP_Status_Mobile_and_Email</targetReference>
        </connector>
        <fields>
            <name>Text_Account_Not_Activated</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(37, 0, 250); font-size: 18px;&quot;&gt;Notice: Account must be activated for payment processing.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Verify_Mobile</name>
            <fieldText>&lt;p&gt;Enter/verify the customer&apos;s mobile number and email below.  Customers must have a valid mobile number for text payments&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Var_Updated_Mobile_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer&apos;s Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Account does not have a mobile. Enter mobile to activate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Current_Account.BillNPay__Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Var_Updated_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer&apos;s Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Current_Account.BillNPay__T2P_email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_One_Time</name>
        <label>One-Time Future Payment</label>
        <locationX>2475</locationX>
        <locationY>1491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Schedule_One_Time</targetReference>
        </connector>
        <fields>
            <name>Text_OneTime_Screen</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;To set up a one-time payment scheduled in the future, complete the form:&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OneTime_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Default_Schedule_Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>One_Time_Payment_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>OneTimeScheduleDate</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OneTime_Number_of_days_until_Due_Date</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText># of days until Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Use to set a Due Date for the payment a number of days after the send date&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Scheduled_Payment_Type_OneTime</name>
            <choiceReferences>Var_Choice_Set_Scheduled_Payment_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scheduled Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Automatic will apply payment to card or bank without notifying payer.  Semi-Automatic will send text and/or email requested to pay allowing the payer to first verify that sufficient funds are available.   &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_OneTime_Footer</name>
            <fieldText>&lt;p&gt;Schedule will be created using Payment Method:&lt;/p&gt;
&lt;p&gt;&lt;span style=&quot;color: #0000ff;&quot;&gt;&lt;strong&gt;{!Var_Payment_Method_Nickname}&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Method_PayNow</name>
        <label>Select Payment Method</label>
        <locationX>2215</locationX>
        <locationY>1120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Use_Existing_or_New_Method_PayNow</targetReference>
        </connector>
        <fields>
            <name>Text_Select_Payment_Method_onetime</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;Select existing Payment Method or pay with a new one:&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Method_PayNow</name>
            <choiceReferences>Choice_Set_Payment_Method</choiceReferences>
            <choiceReferences>Create_Payment_with_New_Method2</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Method_Recurring</name>
        <label>Select Payment Method</label>
        <locationX>1570</locationX>
        <locationY>1618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Use_Existing_or_New_Method_Screen_Recurring</targetReference>
        </connector>
        <fields>
            <name>Text_Select_Payment_Method</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;Select existing Payment Method or create a new one&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_existing_Payment_Method_or_pay_with_new_Method_Recurring</name>
            <choiceReferences>Choice_Set_Payment_Method</choiceReferences>
            <choiceReferences>Create_Payment_with_New_Method2</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Type_of_Schedule</name>
        <label>Select Type of Schedule</label>
        <locationX>2053</locationX>
        <locationY>1616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Type_of_Schedule</targetReference>
        </connector>
        <fields>
            <name>Text_Select_Type_of_Schedule</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;Select Type of Schedule&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Type_of_Schedule_Radio_Buttons</name>
            <choiceReferences>Choice_Set_Record_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Calendar</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Calendar_Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choice screen to direct rest of flow</description>
        <name>What_would_you_like_to_do</name>
        <label>What would you like to do?</label>
        <locationX>839</locationX>
        <locationY>1210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_What_do_you_want_to_do</targetReference>
        </connector>
        <fields>
            <name>Text_What_Would_You_Like_to_do</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;span style=&quot;font-size: 18px; color: #0000ff; font-family: Arial;&quot;&gt;&lt;strong&gt;What Would You Like To Do?&lt;/strong&gt;&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_do_radio_buttons</name>
            <choiceReferences>Choice_Create_Payment</choiceReferences>
            <choiceReferences>Choice_Create_Schedule</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Create_Payment</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Cards</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Card_Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Payment Methods for the given Account record</description>
        <name>Collection_Payment_Methods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payment_Methods__c</objectType>
    </variables>
    <variables>
        <description>Stores all record types for the Scheduled Payment object.  Used in selection of One-Time vs. Recurring</description>
        <name>Collection_Record_Types_Scheduled_Payment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>paymentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentIns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentTransAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>All fields in Contact object</description>
        <name>Record_Var_ContactNOTUSED</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Record_Var_New_Schedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Scheduled_Payments__c</objectType>
    </variables>
    <variables>
        <description>This is the Payment method to use</description>
        <name>Record_Var_Payment_Method</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payment_Methods__c</objectType>
    </variables>
    <variables>
        <description>Record Variable for data used to create Payment Record</description>
        <name>Record_Var_Payment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payments__c</objectType>
    </variables>
    <variables>
        <description>Account Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>External ID for Payment Method</description>
        <name>Var_Payment_Method_External_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Payment_Method_Nickname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PaymentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selects record type from Schedule object - used in decision for One Time or Recurring</description>
        <name>Var_Schedule_Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to validate that the Account was successfully activated</description>
        <name>Var_Updated_Account_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
