src/flows/BillNPay__Send_Payment_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice_Create_Payment</name>
        <choiceText>Create a Payment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_Create_Schedule</name>
        <choiceText>Create a Payment Schedule (Recurring or One-Time in the future)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Create_Payment_with_New_Method</name>
        <choiceText>Create a new Payment Method</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Create_Payment_with_New_Method2</name>
        <choiceText>Create a new method</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CreatePaymentWithNewMethod</name>
        <choiceText>Create Payment with new Payment Method</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <constants>
        <description>for centering image</description>
        <name>Center</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;Center&apos;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_BP_Status_Batch_Processing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Batch Processing</stringValue>
        </value>
    </constants>
    <constants>
        <description>The SObject name is used to get the Record Type IDs which are used later in the flow</description>
        <name>Const_Payment_Schedule_Sobject_name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BillNPay__Scheduled_Payments__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Record_Type_Name_OneTime</name>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Record_Type_Name_Recurring</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring</stringValue>
        </value>
    </constants>
    <constants>
        <name>Default_OneTime_Description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Payment</stringValue>
        </value>
    </constants>
    <constants>
        <description>Used in screen design</description>
        <name>Display_Horizontal_Line</name>
        <dataType>String</dataType>
        <value>
            <stringValue>____________________________________________________________</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Contacts must be Activated for Payments to proceed</description>
        <name>Is_Contact_Activated_For_Payments</name>
        <label>Is_Contact_Activated_For_Payments</label>
        <locationX>666</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Screen_Not_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Activated</defaultConnectorLabel>
        <rules>
            <name>Activated_for_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Contact.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Request</targetReference>
            </connector>
            <label>Activated for Payments</label>
        </rules>
        <rules>
            <name>Suspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Contact.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Contact_Suspended</targetReference>
            </connector>
            <label>Suspended</label>
        </rules>
    </decisions>
    <description>Creates a payment record to be sent via text or email</description>
    <dynamicChoiceSets>
        <description>Presents a selection of all existing payment method</description>
        <name>Choice_Set_Payment_Method</name>
        <dataType>String</dataType>
        <displayField>BillNPay__Nickname__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillNPay__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillNPay__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BillNPay__Payment_Methods__c</object>
        <outputAssignments>
            <assignToReference>Var_Payment_Method_Nickname</assignToReference>
            <field>BillNPay__Nickname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Payment_Method_External_ID</assignToReference>
            <field>BillNPay__T2P_PaymentMethod_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Var_Payment_Method.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>BillNPay__Nickname__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>BillNPay__Nickname__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Set_Record_Type</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Const_Payment_Schedule_Sobject_name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Var_Schedule_Record_Type_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSetRecurringFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Payment_Frequency__c</picklistField>
        <picklistObject>BillNPay__Scheduled_Payments__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Select Automatic or Semi-automatic (payer send text or email to confirm the payment)</description>
        <name>Var_Choice_Set_Scheduled_Payment_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Scheduled_Payment_Type__c</picklistField>
        <picklistObject>BillNPay__Scheduled_Payments__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Modify this formula to enter a default description into the Payment</description>
        <name>DefaultPaymentDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Default Description - modify Flow formula as needed&quot;</expression>
    </formulas>
    <formulas>
        <description>Timestamp is used to create unique identifier.  System required</description>
        <name>PayableID</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <description>Used for default in payment</description>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Send Payment Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Send Payment Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get data from the current contact record</description>
        <name>Get_Current_Contact</name>
        <label>Get Current Contact</label>
        <locationX>241</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Methods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get existing Active payment methods for this contact</description>
        <name>Get_Payment_Methods</name>
        <label>Get Payment Methods</label>
        <locationX>438</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Activated_For_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillNPay__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillNPay__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BillNPay__Payment_Methods__c</object>
        <outputReference>Collection_Payment_Methods</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillNPay__Contact__c</queriedFields>
        <queriedFields>BillNPay__Nickname__c</queriedFields>
        <queriedFields>BillNPay__Active__c</queriedFields>
        <queriedFields>BillNPay__Exp_Month__c</queriedFields>
        <queriedFields>BillNPay__Exp_Year__c</queriedFields>
        <queriedFields>BillNPay__Name_on_Account__c</queriedFields>
        <sortField>BillNPay__Active__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Updates email and mobile and changes Contact BP Status to Batch Processing (queued for activation)</description>
        <name>Update_Contact_BP_Status</name>
        <label>Update Contact BP Status Mobile and Email</label>
        <locationX>937</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Activate_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Status__c</field>
            <value>
                <elementReference>Const_BP_Status_Batch_Processing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Var_Updated_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Var_Updated_Mobile_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Activate_Contacts</name>
        <label>Activate Contacts</label>
        <locationX>1076</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Payment_Request</targetReference>
        </connector>
        <fields>
            <name>Text_Activate_Contacts</name>
            <fieldText>&lt;p&gt;Click &apos;Activate&apos; to start processing.  Then &apos;Next&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comp_Activate_Contacts</name>
            <extensionName>BillNPay:CreateContactToAuthviaComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1438</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Finish</name>
            <fieldText>&lt;p&gt;Your payment request has been sent.  You may close this window&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_Finish</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the Contact has been suspended from making payments, this screen is displayed to user</description>
        <name>Screen_Contact_Suspended</name>
        <label>Warning - Contact Suspended</label>
        <locationX>556</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Contact_Suspended</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 6, 6);&quot;&gt;This Contact has been Suspended from making payments.  Please contact an administrator for assistance&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If the Contact is not Active or Suspended, this screen is displayed to user</description>
        <name>Screen_Not_Activated</name>
        <label>Screen_Not Activated</label>
        <locationX>797</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_BP_Status</targetReference>
        </connector>
        <fields>
            <name>Text_Contact_Not_Activated</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(37, 0, 250); font-size: 18px;&quot;&gt;Notice: Contact must be activated for payment processing.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Verify_Mobile</name>
            <fieldText>&lt;p&gt;Enter/verify the customer&apos;s mobile number and email below.  Customers must have a valid mobile number for text payments&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Var_Updated_Mobile_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer&apos;s Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Contact does not have a mobile. Enter mobile to activate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Record_Var_Contact.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Var_Updated_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer&apos;s Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Record_Var_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Opens Lightning Component</description>
        <name>Send_Payment_Request</name>
        <label>Send Payment Request</label>
        <locationX>1280</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <fields>
            <name>LWC_MultiUseButton</name>
            <extensionName>BillNPay:MultipleUseButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>476</locationY>
        <connector>
            <targetReference>Get_Current_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Payment Methods for the given Contact record</description>
        <name>Collection_Payment_Methods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payment_Methods__c</objectType>
    </variables>
    <variables>
        <description>Stores all record types for the Scheduled Payment object.  Used in selection of One-Time vs. Recurring</description>
        <name>Collection_Record_Types_Scheduled_Payment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>paymentConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentIns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentTransAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>All fields in Contact object</description>
        <name>Record_Var_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Record_Var_New_Schedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Scheduled_Payments__c</objectType>
    </variables>
    <variables>
        <description>This is the Payment method to use</description>
        <name>Record_Var_Payment_Method</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payment_Methods__c</objectType>
    </variables>
    <variables>
        <description>Record Variable for data used to create Payment Record</description>
        <name>Record_Var_Payment_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payments__c</objectType>
    </variables>
    <variables>
        <description>Contact Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>External ID for Payment Method</description>
        <name>Var_Payment_Method_External_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Payment_Method_Nickname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PaymentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selects record type from Schedule object - used in decision for One Time or Recurring</description>
        <name>Var_Schedule_Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to validate that the Contact was successfully activated</description>
        <name>Var_Updated_Contact_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
