src/flows/BillNPay__Paid_Off_Line.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>ConstantReference</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid Offline</stringValue>
        </value>
    </constants>
    <constants>
        <name>Status_ApprovedPaid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved/Paid</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Status_Request_Sent</name>
        <label>Is Status Request Sent</label>
        <locationX>338</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_Request_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paid_Off_Line</targetReference>
            </connector>
            <label>Status = Request Sent</label>
        </rules>
        <rules>
            <name>Status_Not_Request_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment.BillNPay__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_is_not_Request_Sent</targetReference>
            </connector>
            <label>Status != Request Sent</label>
        </rules>
    </decisions>
    <description>Mark a payment as having been paid offline.  User can no longer make online payment</description>
    <formulas>
        <name>FormulaAmount</name>
        <dataType>Number</dataType>
        <expression>{!VarPaymentsFields.BillNPay__Total_Amount_Due__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Paid Off Line {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Paid Off Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>176</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Request_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillNPay__Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePayment</name>
        <label>UpdatePayment</label>
        <locationX>850</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Date_Paid__c</field>
            <value>
                <elementReference>Date_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Paid_Offline__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Total_Amount_Paid__c</field>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>857</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(237, 6, 6);&quot;&gt;Something went wrong, please try again or contact your administrator&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Error Message:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1024</locationX>
        <locationY>119</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenFinish</name>
            <fieldText>The Payment has been marked as Paid Offline</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_Finish</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Paid_Off_Line</name>
        <label>Paid Off Line</label>
        <locationX>603</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePayment</targetReference>
        </connector>
        <fields>
            <name>TextHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0066FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mark this Payment as Paid Off Line&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;_________________________&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Paid</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_Paid</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>FormulaAmount</elementReference>
            </defaultValue>
            <fieldText>Amount Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Reference</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConstantReference</elementReference>
            </defaultValue>
            <fieldText>Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextFinish</name>
            <fieldText>Click Next, then Finish to mark Payment as having been paid offline.  Status will change to Approved/Paid and user will not be able to pay online.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_is_not_Request_Sent</name>
        <label>Status is not Request Sent</label>
        <locationX>603</locationX>
        <locationY>263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextStatusNotRequestSent</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, only payments in &lt;B&gt;Request Sent&lt;/B&gt; status can be processed Paid Offline.  Click Finish to close this window.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPaymentsFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payments__c</objectType>
    </variables>
</Flow>
