src/flows/BillNPay__Return_Chargeback.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice_Lost</name>
        <choiceText>Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Const_Lost</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Won</name>
        <choiceText>Won</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Const_Won</elementReference>
        </value>
    </choices>
    <constants>
        <name>Const_Lost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Won</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Won</stringValue>
        </value>
    </constants>
    <constants>
        <name>Status_Chargeback</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chargeback</stringValue>
        </value>
    </constants>
    <constants>
        <name>Status_Return</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACH Returned</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Only card payments in Paid status can be entered into the Chargeback process.  Payments in Status &quot;Chargeback&quot; where the Chargeback&apos;s status is Under Review, can be moved from Under Review to Won or Lost</description>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>317</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Approved_Paid_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved/Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Method_is_Card</targetReference>
            </connector>
            <label>Approved/Paid True</label>
        </rules>
        <rules>
            <name>Chargeback_in_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Chargeback_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback_Won_Lost</targetReference>
            </connector>
            <label>Chargeback in Review</label>
        </rules>
        <rules>
            <name>Approved_Paid_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved/Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_not_in_Approved_Paid_Status</targetReference>
            </connector>
            <label>Approved/Paid False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Method_is_Card</name>
        <label>Payment Method is Card</label>
        <locationX>582</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Payment_Method_Type_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Payment_Method_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback</targetReference>
            </connector>
            <label>Payment Method Type=Card</label>
        </rules>
        <rules>
            <name>Payment_Method_Type_Bank_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Payment_Method_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACH_Return</targetReference>
            </connector>
            <label>Payment Method Type=Bank Account</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChargebackReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Chargeback_Reason__c</picklistField>
        <picklistObject>BillNPay__Payments__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChargebackStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Chargeback_Status__c</picklistField>
        <picklistObject>BillNPay__Payments__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Return/Chargeback {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Return/Chargeback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>180</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillNPay__Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Chargeback_Update</name>
        <label>Chargeback Update</label>
        <locationX>1074</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Chargeback_Reason__c</field>
            <value>
                <elementReference>Chargeback_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Chargeback_Status__c</field>
            <value>
                <elementReference>Chargeback_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Return_Chargeback_Comments__c</field>
            <value>
                <elementReference>Chargeback_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Return_Chargeback_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Status__c</field>
            <value>
                <elementReference>Status_Chargeback</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ReturnUpdate</name>
        <label>ReturnUpdate</label>
        <locationX>1073</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Finish_Return</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Return_Chargeback_Comments__c</field>
            <value>
                <elementReference>Return_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Return_Chargeback_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Return_Chargeback_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Status__c</field>
            <value>
                <elementReference>Status_Return</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the payment with Chargeback Status Won or Lost</description>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>320</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Finish_Won_Lost</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Chargeback_Status__c</field>
            <value>
                <elementReference>Chargeback_Won_Lost_Radio_Buttons</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <screens>
        <name>ACH_Return</name>
        <label>ACH Return</label>
        <locationX>930</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReturnUpdate</targetReference>
        </connector>
        <fields>
            <name>TextHeaderReturns</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0066FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Mark this Payment as ACH Return&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt; &lt;FONT STYLE=&quot;font-size:18px&quot;&gt;  &lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Most ACH payments are returned due to insufficent funds&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;_________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Return_Comments</name>
            <dataType>String</dataType>
            <fieldText>Return Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TextFinishReturns</name>
            <fieldText>Click Next to mark this Payment as an ACH Return.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Chargeback</name>
        <label>Chargeback</label>
        <locationX>939</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chargeback_Update</targetReference>
        </connector>
        <fields>
            <name>TextHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0066FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Change Payment Status to Chargeback&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A Chargeback is the reversal of a credit card payment that comes directly from the bank.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;_________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chargeback_Reason</name>
            <choiceReferences>ChargebackReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chargeback Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Chargeback_Comment</name>
            <dataType>String</dataType>
            <fieldText>Chargeback Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chargeback_Status</name>
            <choiceReferences>ChargebackStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chargeback Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextFinish</name>
            <fieldText>Click Next to change status to Chargeback.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Chargeback_Won_Lost</name>
        <label>Chargeback Won/Lost</label>
        <locationX>322</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
        <fields>
            <name>Text_won_lost</name>
            <fieldText>&lt;p&gt;This Payment is in status Chargeback/Under Review.   Based on the outcome of the dispute, mark the Chargeback Status as either Won or Lost&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chargeback_Won_Lost_Radio_Buttons</name>
            <choiceReferences>Choice_Won</choiceReferences>
            <choiceReferences>Choice_Lost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chargeback Won/Lost</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>1076</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(237, 6, 6);&quot;&gt;Something went wrong, please try again or contact your administrator&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Error Message:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1242</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenFinish</name>
            <fieldText>&lt;p&gt;The Payment has been marked as a &lt;b&gt;Chargeback&lt;/b&gt;.  Follow your gateway&apos;s instructions for processing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the Chargeback challenge is Won, use this wizard to set the Chargeback Status to &quot;&lt;b&gt;Won&lt;/b&gt;&quot;, this will return the status to &lt;b&gt;Approved/Paid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the Chargeback is lost, &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;use this wizard to set &lt;/span&gt;Chargeback Status to &quot;&lt;b&gt;Lost&lt;/b&gt;&quot;.  This will trigger an update of the payment on the server.  Status will remain &lt;b&gt;Chargeback&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Line_Flag</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Return</name>
        <label>Finish Return</label>
        <locationX>1258</locationX>
        <locationY>400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Return_Text</name>
            <fieldText>The Payment has marked as ACH Return</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Line_Flag_ACH</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Finish screen after setting payment&apos;s Chargeback Status to Won or Lost</description>
        <name>Finish_Won_Lost</name>
        <label>Finish Won/Lost</label>
        <locationX>486</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Won_Lost_Finish</name>
            <fieldText>&lt;p&gt;You have updated the Chargeback Status to  &lt;b style=&quot;color: rgb(11, 0, 0);&quot;&gt;{!Chargeback_Won_Lost_Radio_Buttons}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Line_Flag_WonLost</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_not_in_Approved_Paid_Status</name>
        <label>Payment not in Approved/Paid Status</label>
        <locationX>324</locationX>
        <locationY>3</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextPaymentNotPaid</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;We&apos;re sorry, only payments in &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Approved/Paid&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; status or in &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Chargeback Status / Under Review &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;can be processed as an ACH Return or Chargeback.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Click Finish to close this window.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPaymentsFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payments__c</objectType>
    </variables>
</Flow>
