src/flows/BillNPay__Void_Refund.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Status_Void_Refund</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Void/Refund</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_current_Status_Approved_Paid</name>
        <label>Is current Status Approved</label>
        <locationX>318</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Approved_Paid_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved/Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Void_Refund</targetReference>
            </connector>
            <label>Approved/Paid True</label>
        </rules>
        <rules>
            <name>Approved_Paid_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.BillNPay__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved/Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_not_in_Approved_Paid_Status</targetReference>
            </connector>
            <label>Approved/Paid False</label>
        </rules>
    </decisions>
    <description>Opens a dialog for users to process a Void or Refund</description>
    <dynamicChoiceSets>
        <name>Void_Refund_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillNPay__Void_Refund_Reason__c</picklistField>
        <picklistObject>BillNPay__Payments__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>FormulaAmount</name>
        <dataType>Number</dataType>
        <expression>{!VarPaymentsFields.BillNPay__Total_Amount_Due__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Void/Refund {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Void/Refund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>180</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_current_Status_Approved_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillNPay__Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Void_Refund_Update</name>
        <label>Void/Refund Update</label>
        <locationX>674</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillNPay__Void_Refund_Comment__c</field>
            <value>
                <elementReference>Void_Refund_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Void_Refund_Reason__c</field>
            <value>
                <elementReference>Void_Refund_Reason_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Void_Refund_Requsted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNPay__Void_Refund_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BillNPay__Payments__c</object>
    </recordUpdates>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>921</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(237, 6, 6);&quot;&gt;Something went wrong, please try again or contact your administrator&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Error Message:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>924</locationX>
        <locationY>116</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenFinish</name>
            <fieldText>The Payment has been submitted to your gateway for Void if before settlement or refund after settlement</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Line_Flag</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Finish_Line_Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_not_in_Approved_Paid_Status</name>
        <label>Payment not in Approved/Paid Status</label>
        <locationX>514</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextPaymentNotPaid</name>
            <fieldText>Sorry, only payments in Approved/Paid status can be voided or refunded.  Close this window to continue</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Void_Refund</name>
        <label>Void/Refund</label>
        <locationX>509</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Void_Refund_Update</targetReference>
        </connector>
        <fields>
            <name>TextHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0066FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Void or Refund this Payment&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Void cancels a payment prior to settlement.  Refund reverses the payment after settlement.  Your gateway will provide the response Void or Refund based on timing.  &lt;FONT STYLE=&quot;font-size:18px&quot;&gt;  &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;_________________________&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Void_Refund_Reason_Field</name>
            <choiceReferences>Void_Refund_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Void/Refund Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Void_Refund_Comment</name>
            <dataType>String</dataType>
            <fieldText>Void/Refund Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TextFinish</name>
            <fieldText>Click Next to submit to your gateway.  Status will change to Void/Refund and Void/Refund Response will display Void or Refund based on your Gateway&apos;s response</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPaymentsFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BillNPay__Payments__c</objectType>
    </variables>
</Flow>
