src/flows/Create_SalesOrder_From_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Exchange_Item</name>
        <label>Assign Exchange Item</label>
        <locationX>999</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exchange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Exchange_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.Price_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Core_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive ‘As Is’</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Core_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Outright_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.Product2.Core_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Stock_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return to Stock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_To_Sales_Order</name>
        <label>Assign Order To Sales Order</label>
        <locationX>486</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>NewSalesOrder.inscor__Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.inscor__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.inscor__Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Ship_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.inscor__Customer_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.PoNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.inscor__Shipping_Instruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group.DeliveryInstructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.inscor__Internal_Comments_rt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.Internal_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Sales_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outright_Item</name>
        <label>Assign Outright Item</label>
        <locationX>1139</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outright</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Paid_In_Full</name>
        <label>Assign Paid In Full</label>
        <locationX>363</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>NewSalesOrder.Paid_in_Full__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrder.Authorize_Payment_Settlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Settlement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_To_Sales_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Sales_Order_Line_Items</name>
        <label>Create Sales Order Line Items</label>
        <locationX>632</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Line_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalesOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Condition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items.Condition_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSalesOrderLineItem.inscor__Internal_Comments_rt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.Line_Level_Comment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Of_Sales_Order_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Of_Sales_Order_Line</name>
        <label>List Of Sales Order Line</label>
        <locationX>633</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>ListSOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSalesOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Payment_Is_Done</name>
        <label>Check If Payment Is Done</label>
        <locationX>63</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPaymentDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Authorization_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Paid_In_Full</targetReference>
            </connector>
            <label>isPaymentDone</label>
        </rules>
        <rules>
            <name>isPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Authorization_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_To_Sales_Order</targetReference>
            </connector>
            <label>isPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Price_Type</name>
        <label>Check Price Type</label>
        <locationX>1121</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Price_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Items.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Order_Items.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat rate w/OH core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Order_Items.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat rate w/SV core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Order_Items.Price_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat rate w/Repairable core</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exchange_Item</targetReference>
            </connector>
            <label>Is Price Type</label>
        </rules>
        <rules>
            <name>Outright</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Items.Price_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outright_Item</targetReference>
            </connector>
            <label>Outright</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Charge_for_this_delivery_method</name>
        <label>Shipping Charge for this delivery method</label>
        <locationX>827</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_Charge_for_this_delivery_method1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Items.Product2.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SHIPPING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Price_Type</targetReference>
            </connector>
            <label>Shipping Charge for this delivery method</label>
        </rules>
    </decisions>
    <interviewLabel>Create Sales Order From Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SalesOrder From Order</label>
    <loops>
        <name>Loop_Order_Items</name>
        <label>Loop Order Items</label>
        <locationX>854</locationX>
        <locationY>148</locationY>
        <collectionReference>Get_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shipping_Charge_for_this_delivery_method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Multiple_Sales_Order_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Multiple_Sales_Order_Line</name>
        <label>Create Multiple Sales Order Line</label>
        <locationX>1031</locationX>
        <locationY>87</locationY>
        <inputReference>ListSOL</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Sales_Order</name>
        <label>Create New Sales Order</label>
        <locationX>594</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <inputReference>NewSalesOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Ship_Address</name>
        <label>Get Account Ship Address</label>
        <locationX>412</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipping__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orders.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Account_Ship_Address__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group</name>
        <label>Get Order Delivery Group</label>
        <locationX>69</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Authorization_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orders.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>736</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>273</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orders.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>429</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Ship_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Authorization_Record</name>
        <label>Get Payment Authorization Record</label>
        <locationX>71</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Payment_Is_Done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderPaymentSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Orders</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ListSOL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>NewSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>NewSalesOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
