src/flows/inscor__Customer_Quote_Line_Score_Calculator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_10_Points</name>
        <label>Add 10 Points</label>
        <locationX>1088</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Request matches a current customer.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScoreDateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Class</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_15_Points</name>
        <label>Add 15 Points</label>
        <locationX>595</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StockQuoteReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScoreDateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hot_Part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_15_Points1</name>
        <label>Add 15 Points</label>
        <locationX>828</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HotPartReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScoreDateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_20_Points</name>
        <label>Add 20 Points</label>
        <locationX>1338</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Request matches a &apos;Class A&apos; Customer.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cqRecord.inscor__Quote_Score_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScoreDateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Class</name>
        <label>Customer Class</label>
        <locationX>1223</locationX>
        <locationY>424</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Class_A_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer.inscor__Customer_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_20_Points</targetReference>
            </connector>
            <label>Class A Customer</label>
        </rules>
        <rules>
            <name>Non_Class_A_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer.inscor__Customer_Class__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote</targetReference>
            </connector>
            <label>Non Class A Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Customer</name>
        <label>Existing Customer</label>
        <locationX>943</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_10_Points</targetReference>
            </connector>
            <label>Is Existing Customer</label>
        </rules>
        <rules>
            <name>Non_Existing_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Class</targetReference>
            </connector>
            <label>Non Existing Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hot_Part</name>
        <label>Hot Part</label>
        <locationX>699</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_Hot_Part</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartMaster</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartMaster.inscor__Hot_Part__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_15_Points1</targetReference>
            </connector>
            <label>Is a Hot Part</label>
        </rules>
        <rules>
            <name>Not_a_Hot_Part</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartMaster</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartMaster.inscor__Hot_Part__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Customer</targetReference>
            </connector>
            <label>Not a Hot Part</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Stock</name>
        <label>In Stock ?</label>
        <locationX>490</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Stock1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_15_Points</targetReference>
            </connector>
            <label>In Stock</label>
        </rules>
        <rules>
            <name>No_Stock</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Inventories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cqRecord.inscor__Quote_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Entry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hot_Part</targetReference>
            </connector>
            <label>No Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Source</name>
        <label>Update Source</label>
        <locationX>229</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Quote_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cqRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer</targetReference>
            </connector>
            <label>New Quote Insert</label>
        </rules>
        <rules>
            <name>New_Quote_Line_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cqLineRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>New Quote Line Insert</label>
        </rules>
    </decisions>
    <formulas>
        <name>HotPartReason</name>
        <dataType>String</dataType>
        <expression>&quot; Line &quot; + Text({!cqLineRecord.inscor__Line_Number__c}) + &quot; part number is a &apos;Hot Part&apos;.&quot;</expression>
    </formulas>
    <formulas>
        <name>ScoreDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>StockQuoteReason</name>
        <dataType>String</dataType>
        <expression>&apos;Line &apos; + Text({!cqLineRecord.inscor__Line_Number__c}) + &apos; has quantity available.&apos;</expression>
    </formulas>
    <interviewLabel>Customer Quote Line Score Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Customer Quote &amp; Line Score Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer</name>
        <label>Get Customer</label>
        <locationX>238</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Stock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cqRecord.inscor__Customer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Customer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>inscor__Customer_Class__c</queriedFields>
        <queriedFields>inscor__Customer_Type1__c</queriedFields>
        <queriedFields>inscor__Account_Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Part_Master</name>
        <label>Get Part Master</label>
        <locationX>50</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stock_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cqLineRecord.inscor__Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>PartMaster</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>inscor__Hot_Part__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>50</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Part_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cqLineRecord.inscor__Customer_Quote__c</elementReference>
            </value>
        </filters>
        <object>inscor__Customer_Quote__c</object>
        <outputReference>cqRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>inscor__Quote_Score__c</queriedFields>
        <queriedFields>inscor__Quote_Score_Date__c</queriedFields>
        <queriedFields>inscor__Quote_Score_Reason__c</queriedFields>
        <queriedFields>inscor__Quote_Source__c</queriedFields>
        <queriedFields>inscor__Customer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Stock_Level</name>
        <label>Stock Level</label>
        <locationX>51</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cqLineRecord.inscor__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Quantity_Available__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>inscor__Inventory_Line__c</object>
        <outputReference>Inventories</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>1507</locationX>
        <locationY>422</locationY>
        <inputReference>cqRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>110</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Update_Source</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cqlId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cqLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inscor__Customer_Quote_Line__c</objectType>
    </variables>
    <variables>
        <name>cqRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inscor__Customer_Quote__c</objectType>
    </variables>
    <variables>
        <name>Customer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Inventories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Inventory_Line__c</objectType>
    </variables>
    <variables>
        <name>PartMaster</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
