src/flows/inscor__Account_Automatic_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Auto_Number</name>
        <label>Assign Auto Number</label>
        <locationX>752</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>$Record.inscor__Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutoNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Company</name>
        <label>Assign Company</label>
        <locationX>579</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CompanyRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LoggedIn_User</name>
        <label>Assign LoggedIn User</label>
        <locationX>45</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>LoggedInEmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_LoggedIn_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Company_Id</name>
        <label>Increment Company Id</label>
        <locationX>608</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>CompanyRecord.inscor__Account_Auto_Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Company</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Company_Check</name>
        <label>Company Check</label>
        <locationX>747</locationX>
        <locationY>567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompanyRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Auto_Number</targetReference>
            </connector>
            <label>Company Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LoggedIn_User</name>
        <label>Is LoggedIn User</label>
        <locationX>174</locationX>
        <locationY>574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoggedIn_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoggedInEmp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Company</targetReference>
            </connector>
            <label>LoggedIn User</label>
        </rules>
    </decisions>
    <formulas>
        <name>AutoNumber</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT(SUBSTITUTE({!$Record.Name} ,&apos; &apos;, &apos;&apos;), 3)) + TEXT({!CompanyRecord.inscor__Account_Auto_Number__c})</expression>
    </formulas>
    <interviewLabel>Account # Automatic Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Account # Automatic Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Company</name>
        <label>Get Company</label>
        <locationX>419</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInEmp.inscor__Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Record</name>
        <label>Get Employee Record</label>
        <locationX>186</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LoggedIn_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>754</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Increment_Company_Id</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Company</name>
        <label>Update Company</label>
        <locationX>454</locationX>
        <locationY>263</locationY>
        <inputReference>CompanyRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Employee_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Auto_Assign_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Account_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CompanyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Company__c</objectType>
    </variables>
    <variables>
        <name>LoggedInEmp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Employee__c</objectType>
    </variables>
</Flow>
