src/flows/inscor__Managed_Repair_Status_ROL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Change_Manage_Repair_Status</name>
        <label>Change Manage Repair Status</label>
        <locationX>343</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>$Record.inscor__Managed_Repair_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair Quote Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ROL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_After_Received</name>
        <label>Change Status After Received</label>
        <locationX>79</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>$Record.inscor__Managed_Repair_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received from Repair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ROL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ROL_Status</name>
        <label>Check ROL Status</label>
        <locationX>201</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ROL_Estimate_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.inscor__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.inscor__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inscor__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estimate Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inscor__Created_From_SO_Line__r.inscor__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Manage_Repair_Status</targetReference>
            </connector>
            <label>ROL Estimate Received</label>
        </rules>
        <rules>
            <name>ROL_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.inscor__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.inscor__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inscor__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inscor__Created_From_SO_Line__r.inscor__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_After_Received</targetReference>
            </connector>
            <label>ROL Received</label>
        </rules>
    </decisions>
    <interviewLabel>Managed Repair Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Managed Repair Status ROL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ROL</name>
        <label>Update ROL</label>
        <locationX>208</locationX>
        <locationY>571</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>80</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Check_ROL_Status</targetReference>
        </connector>
        <object>inscor__Repair_Order_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
