src/flows/inscor__Solicitation_Score_Calculation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Score_PN</name>
        <label>Set Score AND PN</label>
        <locationX>652</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>$Record.inscor__Solicitation_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.inscor__Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PN.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>PN_Record_Check</name>
        <label>PN Record Check</label>
        <locationX>653</locationX>
        <locationY>504</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PN_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Score_PN</targetReference>
            </connector>
            <label>PN Found</label>
        </rules>
    </decisions>
    <interviewLabel>Solicitation Score Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Solicitation Score Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PN</name>
        <label>Get PN</label>
        <locationX>663</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PN_Record_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__NSN1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inscor__Nsn__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>537</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Get_PN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Nsn__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inscor__Government_Solicitation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
