src/flows/inscor__Calculate_PO_pricing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Account_Region_AND_Customer_Type_Matched_Assignment</name>
        <label>Account Region AND Customer Type Matched Assignment</label>
        <locationX>1202</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Account_Region_And_Type_Matched_VPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_To_Check_Customer_Type_and_Account_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Check_Customer_Type_and_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Region_Customer_Type_Matched_Price_Set</name>
        <label>Account Region Customer Type Matched Price Set</label>
        <locationX>762</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Region_And_Type_Matched_VPrice.inscor__Price__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Account_Region_Matched_Price_Assignment</name>
        <label>Account Region Matched Price Assignment</label>
        <locationX>1420</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>Account_Region_Matched_VPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_To_Check_Customer_Type_and_Account_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Check_Customer_Type_and_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Region_Matched_Price_Set</name>
        <label>Account Region Matched Price Set</label>
        <locationX>538</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Region_Matched_VPrice.inscor__Price__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Loop_Price_To_Variable</name>
        <label>Assign Loop Price To Variable</label>
        <locationX>860</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>LoopPriceRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_To_Check_Customer_Type_and_Account_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Criteria_Matching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Type_Matched_Price_Assignment</name>
        <label>Customer Type Matched Price Assignment</label>
        <locationX>1354</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Customer_Type_Matched_VPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_To_Check_Customer_Type_and_Account_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Check_Customer_Type_and_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Type_Matched_Price_Set</name>
        <label>Customer Type Matched Price Set</label>
        <locationX>300</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Type_Matched_VPrice.inscor__Price__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Default_Assignment</name>
        <label>Default Assignment</label>
        <locationX>979</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>PN_AND_Condition_Matched_VPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_To_Check_Customer_Type_and_Account_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Check_Customer_Type_and_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Vendor_Price_Assignment</name>
        <label>Non Vendor Price Assignment</label>
        <locationX>894</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>Vendor_Price_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PN_and_Condition_Matched_Prices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Check_Customer_Type_and_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PN_and_Condition_Matched_Price_Set</name>
        <label>PN and Condition Matched Price Set</label>
        <locationX>59</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PN_AND_Condition_Matched_VPrice.inscor__Price__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Vendor_Price_Assignment</name>
        <label>Vendor Price Assignment</label>
        <locationX>241</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>Vendor_Price_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vendor_Matched_Prices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Check_Customer_Type_and_Account_Region</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Region_and_Customer_Type_Matched_Check</name>
        <label>Account Region and Customer Type Matched Check</label>
        <locationX>752</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Account_Region_Matched_Price_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>ARCT_Record_Foun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Region_And_Type_Matched_VPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Region_Customer_Type_Matched_Price_Set</targetReference>
            </connector>
            <label>Record Foun</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Region_Matched_Price_Check</name>
        <label>Account Region Matched Price Check</label>
        <locationX>532</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Customer_Type_Matched_Price_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Region_Matched_VPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Region_Matched_Price_Set</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Matched_Price_Found</name>
        <label>Check Customer Matched Price Found</label>
        <locationX>399</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_PN_and_Condition_Matched_Prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Price Not Found</defaultConnectorLabel>
        <rules>
            <name>Price_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vendor_Matched_Prices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Price_Assignment</targetReference>
            </connector>
            <label>Price Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Criteria_Matching</name>
        <label>Customer Criteria Matching</label>
        <locationX>1086</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Default_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Type_AND_Account_Region_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPriceRecord.inscor__Vendor__r.inscor__Customer_Type1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.inscor__Customer_Type1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopPriceRecord.inscor__Vendor__r.inscor__Account_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.inscor__Account_Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Region_AND_Customer_Type_Matched_Assignment</targetReference>
            </connector>
            <label>Customer Type AND Account Region Matched</label>
        </rules>
        <rules>
            <name>Account_Region_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPriceRecord.inscor__Vendor__r.inscor__Account_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.inscor__Account_Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Region_Matched_Price_Assignment</targetReference>
            </connector>
            <label>Account Region Matched</label>
        </rules>
        <rules>
            <name>Customer_Type_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPriceRecord.inscor__Vendor__r.inscor__Customer_Type1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.inscor__Customer_Type1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Type_Matched_Price_Assignment</targetReference>
            </connector>
            <label>Customer Type Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Type_Matched_Price_Check</name>
        <label>Customer Type Matched Price Check</label>
        <locationX>296</locationX>
        <locationY>817</locationY>
        <defaultConnector>
            <targetReference>Price_And_Condition_Matched_Price_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>CT_Matched_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Type_Matched_VPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Type_Matched_Price_Set</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_And_Condition_Matched_Price_Check</name>
        <label>Price And Condition Matched Price Check</label>
        <locationX>50</locationX>
        <locationY>813</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Def_Matched_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PN_AND_Condition_Matched_VPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PN_and_Condition_Matched_Price_Set</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <interviewLabel>Calculate PO pricing {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Calculate PO pricing</label>
    <loops>
        <name>Iterate_To_Check_Customer_Type_and_Account_Region</name>
        <label>Iterate To Check Customer Type and Account Region</label>
        <locationX>596</locationX>
        <locationY>548</locationY>
        <collectionReference>Vendor_Price_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loop_Price_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Region_and_Customer_Type_Matched_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>766</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vendor_Matched_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACCID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PN_and_Condition_Matched_Prices</name>
        <label>Get PN and Condition Matched Prices</label>
        <locationX>662</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Non_Vendor_Price_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PNID</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Condition_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CDID</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Min_Quantity__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>QTY</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Effective__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Vendor_Contract_Price__c</object>
        <sortField>inscor__Min_Quantity__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Matched_Prices</name>
        <label>Get Vendor Matched Prices</label>
        <locationX>512</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer_Matched_Price_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PNID</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Condition_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CDID</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACCID</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Min_Quantity__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>QTY</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Effective__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Vendor_Contract_Price__c</object>
        <sortField>inscor__Min_Quantity__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>640</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account ID Of CQ</description>
        <name>ACCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Region_And_Type_Matched_VPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Vendor_Contract_Price__c</objectType>
    </variables>
    <variables>
        <name>Account_Region_Matched_VPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Vendor_Contract_Price__c</objectType>
    </variables>
    <variables>
        <description>Condition Code Id of CQ Line</description>
        <name>CDID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_Type_Matched_VPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Vendor_Contract_Price__c</objectType>
    </variables>
    <variables>
        <name>LoopPriceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Vendor_Contract_Price__c</objectType>
    </variables>
    <variables>
        <name>PN_AND_Condition_Matched_VPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Vendor_Contract_Price__c</objectType>
    </variables>
    <variables>
        <description>Part Number of CQ Line</description>
        <name>PNID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QTY</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Vendor_Price_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Vendor_Contract_Price__c</objectType>
    </variables>
</Flow>
