src/flows/inscor__CQ_Business_Category_Header_to_Lines.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Line_To_Update</name>
        <label>Add Line To Update</label>
        <locationX>599</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>CQLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CQLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Category</name>
        <label>Assign Business Category</label>
        <locationX>736</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>CQLine.inscor__Business_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Business_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line</name>
        <label>Assign Line</label>
        <locationX>557</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>CQLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Business_Category</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CQ Business Category Header to Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>CQ Business Category Header to Lines</label>
    <loops>
        <name>Loop_For_Lines</name>
        <label>Loop For Lines</label>
        <locationX>345</locationX>
        <locationY>369</locationY>
        <collectionReference>Get_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>213</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Customer_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Customer_Quote_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>345</locationX>
        <locationY>566</locationY>
        <inputReference>CQLineList</inputReference>
    </recordUpdates>
    <start>
        <locationX>161</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Get_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Business_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Business_Category_Auto_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inscor__Customer_Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CQLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Customer_Quote_Line__c</objectType>
    </variables>
    <variables>
        <name>CQLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Customer_Quote_Line__c</objectType>
    </variables>
</Flow>
