src/flows/inscor__SO_Business_Category_Header_to_Lines.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Line_To_List</name>
        <label>Add Line To List</label>
        <locationX>910</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>SOLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Release_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Category</name>
        <label>Assign Business Category</label>
        <locationX>700</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>SOLine.inscor__Business_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Business_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inv_Line_Business_Category</name>
        <label>Assign Inv Line Business Category</label>
        <locationX>410</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>InvLine.inscor__Business_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Business_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inv_Line_TO_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inv_Line_TO_List</name>
        <label>Assign Inv Line TO List</label>
        <locationX>781</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>InvLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inv_Line_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line</name>
        <label>Assign Line</label>
        <locationX>510</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>SOLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Business_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Release_Line</name>
        <label>Assign Release Line</label>
        <locationX>1376</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>RelLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rel_Line_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RLine_Business_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RLine_Business_Category</name>
        <label>Assign RLine Business Category</label>
        <locationX>1235</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>RelLine.inscor__Business_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Business_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RLine_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RLine_To_List</name>
        <label>Assign RLine To List</label>
        <locationX>1039</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>RelLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rel_Line_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Inv_Line</name>
        <label>Assignment Inv Line</label>
        <locationX>422</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>InvLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inv_Line_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inv_Line_Business_Category</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SO Business Category Header to Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SO Business Category Header to Lines</label>
    <loops>
        <name>Inv_Line_Loop</name>
        <label>Inv Line Loop</label>
        <locationX>853</locationX>
        <locationY>631</locationY>
        <collectionReference>Get_Inv_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Inv_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_For_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Lines</name>
        <label>Loop For Lines</label>
        <locationX>345</locationX>
        <locationY>310</locationY>
        <collectionReference>Get_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Rel_Line_Loop</name>
        <label>Rel Line Loop</label>
        <locationX>1080</locationX>
        <locationY>445</locationY>
        <collectionReference>Get_Release_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Release_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Inv_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inv_Line</name>
        <label>Get Inv Line</label>
        <locationX>852</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inv_Line_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOLine.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>164</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Release_Line</name>
        <label>Get Release Line</label>
        <locationX>1085</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rel_Line_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOLine.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Release_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inv_Lines</name>
        <label>Update Inv Lines</label>
        <locationX>121</locationX>
        <locationY>788</locationY>
        <inputReference>InvLineList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>349</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Update_Release_Lines</targetReference>
        </connector>
        <inputReference>SOLineList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Release_Lines</name>
        <label>Update Release Lines</label>
        <locationX>159</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Update_Inv_Lines</targetReference>
        </connector>
        <inputReference>RelLineList</inputReference>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Get_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Business_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Business_Category_Auto_Update__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inscor__Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>InvLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>RelLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Release_Line__c</objectType>
    </variables>
    <variables>
        <name>RelLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Release_Line__c</objectType>
    </variables>
    <variables>
        <name>SOLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SOLineIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Sales_Order_Line__c</objectType>
    </variables>
</Flow>
