src/flows/inscor__SOL_Tracking_Summary_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assigned_Existing_Record</name>
        <label>Assigned Existing Record</label>
        <locationX>753</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOL_Tracking_Summary_Retrieve</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocation_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocation</name>
        <label>Set Allocation</label>
        <locationX>1728</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CQ_Line_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CQ_Line</name>
        <label>Set CQ Line</label>
        <locationX>1728</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Customer_Quote_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Customer_Quote_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice</name>
        <label>Set Invoice</label>
        <locationX>1734</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Invoice_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Invoice_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POL_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_POL</name>
        <label>Set POL</label>
        <locationX>1736</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Purchase_Order_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipt_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receipt</name>
        <label>Set Receipt</label>
        <locationX>1734</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Receipt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Checing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Release_Line</name>
        <label>Set Release Line</label>
        <locationX>1210</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Release_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Release_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROL_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RFQ</name>
        <label>Set RFQ</label>
        <locationX>776</locationX>
        <locationY>1015</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__RFQ_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__RFQ_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ROL</name>
        <label>Set ROL</label>
        <locationX>1055</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Repair_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Repair_Order_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RFQ_Line_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Solicitation</name>
        <label>Set Solicitation</label>
        <locationX>229</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Solicitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Solicitation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Summary_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WO</name>
        <label>Set WO</label>
        <locationX>514</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>SOL_Summary.inscor__Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Solicitation_Checking</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Allocation_Checking</name>
        <label>Allocation Checking</label>
        <locationX>1441</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>CQ_Line_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allocation_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Allocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allocation</targetReference>
            </connector>
            <label>Allocation Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CQ_Line_Checking</name>
        <label>CQ Line Checking</label>
        <locationX>1443</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Invoice_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CQ_Line_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Customer_Quote_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CQ_Line</targetReference>
            </connector>
            <label>CQ Line Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Checking</name>
        <label>Invoice Checking</label>
        <locationX>1450</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>POL_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Invoice_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoice</targetReference>
            </connector>
            <label>Invoice Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>POL_Checking</name>
        <label>POL Checking</label>
        <locationX>1448</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Receipt_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POL_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Purchase_Order_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_POL</targetReference>
            </connector>
            <label>POL Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receipt_Checking</name>
        <label>Receipt Checking</label>
        <locationX>1451</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Release_Checing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receipt_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Receipt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Receipt</targetReference>
            </connector>
            <label>Receipt Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Checing</name>
        <label>Release Checing</label>
        <locationX>1456</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>ROL_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Release_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Release_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Release_Line</targetReference>
            </connector>
            <label>Release Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RFQ_Line_Checking</name>
        <label>RFQ Line Checking</label>
        <locationX>904</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>WO_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RFQ_Line_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__RFQ_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RFQ</targetReference>
            </connector>
            <label>RFQ Line Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ROL_Checking</name>
        <label>ROL Checking</label>
        <locationX>1191</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>RFQ_Line_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ROL_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Repair_Order_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ROL</targetReference>
            </connector>
            <label>ROL Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solicitation_Checking</name>
        <label>Solicitation Checking</label>
        <locationX>360</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Update_Summary_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solicitation_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Solicitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Solicitation</targetReference>
            </connector>
            <label>Solicitation Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Summery_Available_Checking</name>
        <label>Summery Available Checking</label>
        <locationX>739</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>New_Summary_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOL_Tracking_Summary_Retrieve</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Existing_Record</targetReference>
            </connector>
            <label>Already Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Checking</name>
        <label>WO Checking</label>
        <locationX>633</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Solicitation_Checking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inscor__Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO</targetReference>
            </connector>
            <label>WO Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>SOL Tracking Summary Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SOL Tracking Summary Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Summary_Create</name>
        <label>New Summary Create</label>
        <locationX>501</locationX>
        <locationY>440</locationY>
        <inputAssignments>
            <field>inscor__Allocation__c</field>
            <value>
                <elementReference>$Record.inscor__Allocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Customer_Quote_Line__c</field>
            <value>
                <elementReference>$Record.inscor__Customer_Quote_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Invoice_Line__c</field>
            <value>
                <elementReference>$Record.inscor__Invoice_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Purchase_Order_Line__c</field>
            <value>
                <elementReference>$Record.inscor__Purchase_Order_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__RFQ_Line__c</field>
            <value>
                <elementReference>$Record.inscor__RFQ_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Receipt__c</field>
            <value>
                <elementReference>$Record.inscor__Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Release_Line__c</field>
            <value>
                <elementReference>$Record.inscor__Release_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Repair_Order_Line__c</field>
            <value>
                <elementReference>$Record.inscor__Repair_Order_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Sales_Order_Line__c</field>
            <value>
                <elementReference>$Record.inscor__Sales_Order_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Sales_Order__c</field>
            <value>
                <elementReference>$Record.inscor__Sales_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inscor__Work_Order__c</field>
            <value>
                <elementReference>$Record.inscor__Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>inscor__Sales_Order_Line_Tracking_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>SOL_Tracking_Summary_Retrieve</name>
        <label>SOL Tracking Summary Retrieve</label>
        <locationX>749</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summery_Available_Checking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inscor__Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inscor__Sales_Order_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inscor__Sales_Order_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inscor__Sales_Order_Line_Tracking_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Summary_Record</name>
        <label>Update Summary Record</label>
        <locationX>50</locationX>
        <locationY>787</locationY>
        <inputReference>SOL_Summary</inputReference>
    </recordUpdates>
    <start>
        <locationX>624</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>SOL_Tracking_Summary_Retrieve</targetReference>
        </connector>
        <object>inscor__Sales_Order_Line_Tracking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SOL_Summary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Sales_Order_Line_Tracking_Summary__c</objectType>
    </variables>
</Flow>
