src/flows/inscor__PO_Business_Category_Header_to_Lines.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Line_To_List</name>
        <label>Add Line To List</label>
        <locationX>582</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>POLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Category</name>
        <label>Assign Business Category</label>
        <locationX>732</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>POLine.inscor__Business_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.inscor__Business_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lines</name>
        <label>Assign Lines</label>
        <locationX>548</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>POLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Business_Category</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PO Business Category Header to Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Business Category Header to Lines</label>
    <loops>
        <name>Loop_For_Lines</name>
        <label>Loop For Lines</label>
        <locationX>369</locationX>
        <locationY>313</locationY>
        <collectionReference>Get_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>162</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__PO_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inscor__Purchase_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>380</locationX>
        <locationY>509</locationY>
        <inputReference>POLineList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inscor__Business_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inscor__Business_Category_Auto_Update__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inscor__Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>POLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>POLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inscor__Purchase_Order_Line__c</objectType>
    </variables>
</Flow>
